<h2>Products</h2>

<div *ngFor="let product of products">

  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>

    <button (click)="share()">Share</button>
  </h3>
    <p style="display: inline; font-size: 10px;" *ngIf="product.description">
        {{ product.description }}
    </p>
    <app-product-alerts
  [Selectedproduct]="product"
    (notify)="onNotifyPrice()">
</app-product-alerts>
  


</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->